extends ../layout

block content
    h1.row= title
    a.row(href="/users/create") Create User
    h4.alert.alert-info= message
    table.table
        thead
            tr
                th USERNAME
                th EMAIL
                th
                th
        tbody
            each user in users
                tr
                    td= user.username
                    td= user.email
                    td
                        a.text-warning(href="/users/edit/" + user._id) Edit
                    td
                        a.text-danger(href="/users/delete/" + user._id) Delete